.a{background-image: url("http://choco-pixel.com/SeventyTwo-1.6/Image/img/background/1.jpg");}
.b{margin-top:30px}
h2{font-size: 35px;margin-top: 50px}
h6{font-size: 15px;margin-top: -23px;color: darkgray}
td{color:white;font-size: 25px}
.inp{margin-left:550px ;margin-top:30px ; width: 250px; height: 42px;color: white}
.inp2{margin-left:605px ;margin-top:30px ; width: 100px; height: 32px;color:black;box-sizing: border-box}
.soc{width:15px ; height:25px; }
.so{font-size: 60px;color:gold}
h3{margin-top:15px;margin-left: 618px }
.x{background-color: rgba(143, 129, 143, 0.877);color: rgb(73, 67, 67);font-size: 23px;  height: 600px;margin-left: -8px;margin-right: -8px}
.btn1{width: 170px;height: 33px; margin-left: 525px ; text-align:center;margin-top: -10px }
.btn2{height: 33px; margin-left:725px;margin-top: 15px ;text-align: center; }
.btn3{margin-left: 527px;text-align: center ;margin-top: 30px;height: 160px;width: 364px; }
.btn4{margin-top: 11px;width: 60px;height: 28px;margin-left: 680px ;text-align: center;background-color: #666;border: thin}
.q{margin-top: -55px;height: 150px;width: 150px;}